@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    color: white;
    background-color: #1E1E1E;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

p {
    margin-top: 10px; /* Adjust the margin between the image and the paragraph */
}
